.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root {
    height: 100%;
}

#workflow {
    height: 100%;
}

.dragging {
    position: fixed;
}

.level-focus {
    box-shadow: 10px 10px 10px rgb(22 120 156);
}

.blockelem.parent-focus .blocktext {
    box-shadow: 10px 10px 10px rgb(22 120 156);
}

.font-60pc,
.font-60pc select,
.font-60pc input {
    font-size: 0.6rem;
}

.font-70pc,
.font-70pc select,
.font-70pc input {
    font-size: 0.7rem;
}

.modal-backdrop.fade.show {
    opacity: 0.5;
}

#WFOutputModal .modal-body {
    max-height: 500px;
    overflow-y: scroll;
}

#SQLFieldModal .modal-body {
    max-height: 500px;
    overflow-y: scroll;
}

.icon-more::before {
    content: "\2630";
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.2s;
}

.fadeIn {
    opacity: 1;
    transition: opacity 0.5s 0.2;
}

.invisible {
    position: fixed;
    top: -1000px;
    left: -1000px;
}

textarea.form-control.min-h250 {
    min-height: 250px;
}

.bg-gray {
    background-color: #fbfbfb;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
}

.btn-icon {
    display: inline-block;
    padding: 2px 5px;
    margin: 5px 2px;
    color: #555;
    border: none;
    font-size: 1.2rem;
}

.btn-icon:hover,
.btn-icon.active {
    color: #dc3545;
}

.btn-icon:active {
    color: #dc3545;
    background-color: antiquewhite;
}

.tool-ul {
    padding-bottom: 0;
}

.border-left {
    border-left: 1px solid #dee2e6!important;
}

.width-180 {
    width: 180px;
}

.max-width-180 {
    max-width: 180px;
}

.min-width-180 {
    min-width: 180px;
}

.relation {
    position: absolute;
    width: 100%;
    overflow: visible;
    pointer-events: none;
    top: 0;
    left: 0;
}

.relation svg {
    width: -webkit-fill-available;
    overflow: visible;
}

.sql-table-group {
    display: inline-block;
    padding: 3rem 3rem 0!important;
}

.join-l {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -1px;
    top: 50%;
}

.join-r {
    width: 1px;
    height: 1px;
    position: absolute;
    right: -1px;
    top: 50%;
}

.float-right {
    float: right;
}

.canvas-wrapper {
    /* width: 98%;
    height: 97%;
    margin: 1%; */
    width: 98%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.height-85vh {
    height: 85vh;
}

.top-10px {
    top: 10px;
}

.end-15px {
    right: 15px;
}

.z9 {
    z-index: 9;
}